page-home {
  .due-date {
    float: right;
  }
  .header {
    font-size: 25px;
  }
  .apr {
   font-size: 18px;
  }
  .balance {
    font-size: 25px;
  }
  .red {
    background-color: #fd5f5f
  }
  .orange {
    background-color: #ffd19b
  }
  .green {
    background-color: #f2fff2;
  }
  ion-card {
    opacity: 0.9;
  }
  ion-card-header{
    background-color: #f1f0f0;
    font-style: italic;
  }
  .bank-name{
      padding-left: 15px;
      padding-top: 15px;
  }
  .bank-credit-line{
    font-size: 12px;
  }
}
